*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root{
  --primary: #222f3e;
  --text: white;
}

.aiform__container{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  width: 430px;
  height: 660px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 0 10px #566575;
  background: #ecf0f1;
  margin-bottom: 400px;
}

.sgform__title{
  margin: 50px;
  color: var(--primary);
}

.sgform__input{
  border: 2px solid black;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
  border-radius: 5px;
}

input, select{
  width: 83%;
  height: 35px;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
}

.sgbtn{
  margin-top:20px;
  width:50%;
  font-size:20px;
  padding:5px;
  border-radius: 5px;
  border: none;
  cursor:pointer;
  border:2px solid var(--primary) ;
  background:color;
  color: var(--primary);
}

.sgbtn:hover{
  border:2px solid var(--primary) ;
  background:var(--primary);
  color: white;
}

.sgicon{
  color: var(--primary);
  font-size: 25px;
}