*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary: #222f3e;
  --text: white;
}

body{
  background-color: var(--primary);
  /* background-image: url('https://static2.bigstockphoto.com/7/9/2/large1500/297327124.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--text);
}
